{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}


    {{ form_start(form) }}

    <button type="submit" class="btn btn-success">Update</button>
    {{ form_end(form) }}

{% endblock %}
